/* style.css - Custom styles */

/* Lebanese flag red */
.lebanese-red {
    color: #D62D20;
    font-weight: 700;
}

body {
    background-color: #f8f9fa;
}

/* Navbar link styles */
.nav-link {
    font-weight: 500;
    /* Default weight to prevent shifting */
    transition: color 0.3s ease-in-out;
    /* Smooth color transition */
}
 /* Custom Scrollbar Styling */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #D62D20;
            border-radius: 5px;
        }



.nav-link:hover {
    font-weight: 700;
    /* Bold without affecting layout */
    color: #fff;
    /* Ensuring smooth transition */
}


/* Sticky footer */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    /* Pushes the footer to the bottom */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.list-group-item-action:hover,
.list-group-item-action:focus,
.list-group-item-action.active {
    background-color: #D62D20 !important;
    border-color: #D62D20 !important;
    color: white !important;
}