/* style.css - Custom styles */

/* Lebanese flag red */
.lebanese-red {
    color: #D62D20;
    font-weight: 700;
}

body {
    background-color: #f8f9fa;
}

.nav-link:hover {
    
    font-weight: bold;
}
/* Sticky footer */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Pushes the footer to the bottom */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}


